.contenedor{
  padding: 18px;
  width: 100vw;
  height: calc(100vh - 56px);
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  text-align: end;
  flex-wrap: wrap;
  gap: 28px;
}

.contenedor::-webkit-scrollbar{
  width: 8px;
}
.contenedor::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.producto{
  width: 200px;
  height: 320px;
  display: grid;
  grid-template-rows: 50px 150px 30px 30px 1fr;
  justify-content: center;
  padding: 8px;
}

.producto p:nth-child(1){
  color: royalblue;
  font-weight: bold;
  font-size: 1.1rem;
  height: 50px;
  width: 184px;
  align-items: center;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.producto p:nth-child(3){
  color: #222;
  font-size: 1rem;
}

.producto button{
  height: 40px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 15px;
  width: 100%;
  background-color: royalblue;
  color: #ecf2ff;
}

.cont-img{
  width: 184px;
  height: 150px;
  /* background-color: chocolate; */
  display: grid;
  place-items: center;
}

.cont-img img{
  width: 150px;
  background-color: #ecf2ff;
}
