<section>
  <div class="productos">
    @for(p of filtroProductos; track p.id){
    <div class="producto">
      <p>{{p.titulo}}</p>
      <div class="cont-img">
        <img src={{p.imagen}} alt="image" />
      </div>
      <p class="precio">$ {{p.precio}}</p>
      <p class="categoria">{{p.categoria.nombre}}</p>
      <button (click)="productoALista(p)">Añadir</button>
    </div>
    }
  </div>
  <div class="filtros">
    <form>
      <div class="filtro">
        <p><i class="fa-solid fa-filter"></i> Filtra por nombre</p>
        <input type="text" placeholder="Nombre articulo" (keyup)="filtrarPorNombre($event)">
      </div>
      <div class="filtro">
        <p><i class="fa-solid fa-arrow-down-short-wide"></i> Filtra por categoria</p>
        <select id="categoriaSeleccionada" (change)="filtrarPorCategoria($event)">
          <option value="0">Selecciona categoria...</option>
          @for(ctg of categorias; track ctg.id){
            <option value="{{ctg.id}}">{{ctg.nombre}}</option>
          }
        </select>
      </div>
    </form>
  </div>
  <div class="total">
    <div class="promociones" *ngIf="listaProductos.length <= 0">
      <h2> <i class="fa-solid fa-star"></i> Promociones</h2>
      <div class="ofertas">
        @for( descuento of descuentos; track descuento.id){
        <div class="oferta">
          <p>{{descuento.titulo}}</p>
          <p>{{descuento.valor | porcentajeDescuento}}</p>
          <p>OFF</p>
          <p>{{descuento.vencimiento }}</p>
        </div>
        }
      </div>
    </div>
    <div class="compra" *ngIf="listaProductos.length > 0">

      <div class="productos-venta">
        @for( pv of listaProductos; track pv.id){
          <div class="producto-venta">
            <p>{{pv.titulo}}</p>
            <p>{{pv.precio}}</p>
          </div>
        }
      </div>
      <div class="total-venta">
        <h2>$ {{cantidadVentaActual | number:'1.2-2'}}</h2>
      </div>
    </div>
  </div>
</section>
