.contenedor{
  background-color: crimson;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.nav{
  background-color: royalblue;
  height: 56px;
  width: 100%;
}

.menu{
  position: absolute;
  left: 0px;
  top: 56px;
  width: 25vw;
  background-color: chocolate;
  height: calc(100vh - 56px);
}
.contenido{
  background-color: coral;
  height: calc(100vh - 56px);
}
